*{
    text-transform: uppercase;
}
/* Header start */
header img{
    width: 100%;
    height: 602px;
    position: absolute;
}
header{ 
    color: white;
} 
.icon_logo{
    background-color: rgba(0, 0, 0, 0.527);
    position: relative;
    top: 0;
    left: 0;
    margin-bottom: 15%;
}
.icon_logo hr{
    background-color: #3bbddc;
    width: 2.8%;
    padding: 0.3%;
    margin-left: 10.2%;
    margin-bottom: 3%;
}
.icon_logo h3{
    font-weight: bold;
    margin-left: 10%;
    font-size: 300%;
    margin-top: -3%;
}
span{
    font-weight: bold;
}
.icon_logo h5{
    text-transform: uppercase;
    margin-left: 9%;
}
/* list css */
.lang_nm{
    background-color:rgba(255, 255, 255, 0.137);
    position: relative;
    top: 0;
    right: 0;
    padding-bottom: 2%;
    padding-top: 2%;
}
.lang_nm ul{
    padding-right: 15%;
}
.lang_nm ul li{
    list-style: square;
    font-weight: bold;
    text-align: right;
    direction: rtl;
    font-size: larger;
    padding: 2%;
}
.lang_nm ul li:hover{
    color: #047996;
}
/* second header css */
.txt_learn{
    background-color: #cfbd57d2;
    position: relative;
    bottom: 0;
    left: 0;
    padding: 5%;
}
.txt_learn h2{
    padding-left: 10%;
    font-weight: bold;
}
.txt_learn h6{
    font-size: xx-large;
    padding-left: 10%;
}
.txt_address{
    position: relative;
    right: 0;
    text-align: right;
    background-color: #45464ab6;
    padding-top: 3%;
}
.txt_address h4,.txt_address p{
    padding-right: 10%;
}
/* Section css start*/

/* Upper section*/
.txt_first{
    padding-top: 5%;
    background-color: white;
}
.txt_first h2{
    font-weight: bolder;
    color: #dd5362;
    font-size: xx-large;
    padding-left: 10%;
}
.txt_first h5{
    font-weight: bold;
    color: #707070;
    padding-left: 10%;
}
.txt_first p{color: #707070;
    padding-left: 10%;}
.company_logo{
    background-color: #3bbddc;
    color: white;
    align-items: center;
}
.company_logo img{
    padding: 15%;
    align-items: center;
    margin-right: -12%;
    margin-left: 10%;
}
.company_logo a{font-size: xx-small;}
.company_logo h3{
    font-weight: bold;
    text-align: left;
    margin-top: 23%;
    margin-left: -15%;
    padding-right: 10%;
}
.company_logo h3 p{
    font-weight: normal;
    font-size: x-small;
    padding-right: 10%;
}
.company_logo p{
    font-size: xx-small;
    text-align: left;
    font-size: medium;
}
/* our_comapny css */
.our_comapny{
    background-color: #d6d4d4; 
    padding: 3%;
}
.our_comapny h5{
    color: #dd5362;
    font-weight: bold;
    padding-left: 10%;
}
.our_comapny h3,.our_comapny h6,.our_comapny span,.txt_second h5{
    color: #4d4d4d;
    font-weight: bold;
}
.our_comapny p{
    color: #b6b7b7;
    padding-left: 10%;
    text-align: justify;
}
.txt_codded h3,.our_comapny h6{
    padding-left: 10%;
}
.txt_second{
    background-color: white;
    text-align: right;
}
.txt_second h4{
    color: #4d4d4d;
    font-weight: bold;
    text-align: center;
}
.txt_second h5{padding-right: 10%;}
.txt_second h4{
    color: #4d4d4d;
    font-weight: bold;
    font-size: large;
    text-align: center;
    padding-right: 10%;
}
.txt_second img{
    width: 40%;
}
.txt_second h3{
    font-weight: bolder;
    color: #3bbddc;
    text-align: center;
    font-size: xx-large;
    padding-right: 10%;
}
.txt_second p{
    color: #b6b7b7;
    padding-right: 10%;
    text-align: justify;
    padding-left: 25%;
}
.footer_line{
    width: 66.7%;
    height: 10px;
    background-color: #dd5362;
}
